.e116_4 { 
	overflow:hidden;
}
.e116_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:3420px;
	position:absolute;
}
.e119_7 { 
	width:2029px;
	height:845px;
	position:absolute;
	left:-47px;
	top:122px;
	background-image:url(images/mars2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e126_27 { 
	background-color:rgba(0, 0, 0, 0.800000011920929);
	width:1922px;
	height:961px;
	position:absolute;
	left:0px;
	top:1213px;
	background-image:url(images/moon1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e134_50 { 
	width:1920px;
	height:801px;
	position:absolute;
	left:0px;
	top:1981px;
}
.e134_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:801px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:801px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_52 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(255, 255, 255, 1);
	width:95.00000762939453px;
	height:94.99999237060547px;
	position:absolute;
	left:95px;
	top:95px;
}
.e134_51 { 
	background-color:rgba(255, 255, 255, 1);
	width:95px;
	height:95px;
	position:absolute;
	left:1825px;
	top:-95px;
}
.e136_60 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:624px;
	height:2px;
	position:absolute;
	left:164px;
	top:252px;
}
.e134_55 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:745px;
	height:136px;
	position:absolute;
	left:164px;
	top:83px;
	font-family:Oswald;
	text-align:center;
	font-size:92px;
	letter-spacing:0;
}
.e124_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:1925px;
	height:246px;
	position:absolute;
	left:-3px;
	top:967px;
}
.e124_18 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:508px;
	height:142px;
	position:absolute;
	left:340px;
	top:1019px;
	font-family:Oswald;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e124_19 { 
	color:rgba(0, 0, 0, 1);
	width:870px;
	height:159px;
	position:absolute;
	left:991px;
	top:1011px;
	font-family:Oswald;
	text-align:right;
	font-size:26px;
	letter-spacing:0;
}
.e130_35 { 
	width:322px;
	height:435px;
	position:absolute;
	left:799px;
	top:1339px;
	background-image:url(images/akkadian________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e130_42 { 
	width:322px;
	height:59px;
	position:absolute;
	left:217px;
	top:2657px;
}
.e130_48 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e130_36 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e130_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:55px;
	height:54px;
	position:absolute;
	left:282px;
	top:19px;
}
.e139_107 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e139_108 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e139_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:55px;
	height:54px;
	position:absolute;
	left:282px;
	top:19px;
}
.e130_46 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:39px;
	position:absolute;
	left:313px;
	top:2667px;
	font-family:Oswald;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e136_65 { 
	width:322px;
	height:59px;
	position:absolute;
	left:799px;
	top:1852px;
}
.ei136_65_130_48 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei136_65_130_36 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei136_65_130_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:55px;
	height:54px;
	position:absolute;
	left:282px;
	top:19px;
}
.ei136_65_139_107 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei136_65_139_108 { 
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:322px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei136_65_139_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:55px;
	height:54px;
	position:absolute;
	left:282px;
	top:19px;
}
.e136_66 { 
	color:rgba(255, 255, 255, 1);
	width:257px;
	height:39px;
	position:absolute;
	left:831px;
	top:1861px;
	font-family:Oswald;
	text-align:right;
	font-size:26px;
	letter-spacing:0;
}
.e136_61 { 
	color:rgba(0, 0, 0, 1);
	width:761px;
	height:220px;
	position:absolute;
	left:158px;
	top:2325px;
	font-family:Oswald;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}
.e136_72 { 
	width:856px;
	height:680px;
	position:absolute;
	left:979px;
	top:2102px;
}
.e136_71 { 
	width:856px;
	height:680px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/newswall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e136_73 { 
	transform: rotate(-7.0167217375642474e-15deg);
	background-color:rgba(255, 255, 255, 1);
	width:95.00000762939453px;
	height:94.99999237060547px;
	position:absolute;
	left:761px;
	top:585px;
}
.e139_75 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:1920px;
	height:329px;
	position:absolute;
	left:0px;
	top:3091px;
}
.e139_76 { 
	width:197px;
	height:316px;
	position:absolute;
	left:116px;
	top:3104px;
	background-image:url(images/logostudios_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e139_77 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:286px;
	height:1.9999874830245972px;
	position:absolute;
	left: 275px;
    top: 3242px;
}
.e139_82 { 
	color:rgba(255, 255, 255, 1);
	width:726px;
	height:24px;
	position:absolute;
	left:597px;
	top:3360px;
	font-family:Oswald;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e139_84 { 
	color:rgba(255, 255, 255, 1);
	
	height:24px;
	position:absolute;
	left:785px;
	top:3325px;
	font-family:Oswald;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e116_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(26.56249936670065, 26.56249936670065, 26.56249936670065, 1);
	width:1920px;
	height:122px;
	position:absolute;
	left:0px;
	top:0px;
}
.e116_6 { 
	width:238px;
	height:134px;
	position:absolute;
	left:20px;
	top:-6px;
	background-image:url(images/logostudios______.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_7 { 
	color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:120px;
	height:33px;
	position:absolute;
	left:612px;
	top:44px;
	font-family:Oswald;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e116_8 { 
	color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:51px;
	height:33px;
	position:absolute;
	left:909px;
	top:44px;
	font-family:Oswald;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e119_3 { 
	color:rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:1137px;
	top:44px;
	font-family:Oswald;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e116_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(229.00000154972076, 53.00000064074993, 64.00000378489494, 1);
	width:99.80419921875px;
	height:99.80424499511719px;
	position:absolute;
	left:1820px;
	top:22px;
}
.e119_5 { 
	color:rgba(151.93750709295273, 151.93750709295273, 151.93750709295273, 1);
	width:68px;
	height:33px;
	position:absolute;
	left:1411px;
	top:44px;
	font-family:Oswald;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}

:root {
	--clip-size-lg: 65px;
    --clip-size-mobile: 30px;
    --clip-size-lg-double: calc(2 * var(--clip-size-lg));
    --clip-size-mobile-double: calc(2 * var(--clip-size-mobile));
    --clip-size-xl: 100px;
    --polygon-full: polygon( 0 var(--clip-size-lg-double),var(--clip-size-lg) var(--clip-size-lg),calc(100% - var(--clip-size-lg)) var(--clip-size-lg),100% 0,100% calc(100% - var(--clip-size-lg-double)),calc(100% - var(--clip-size-lg)) calc(100% - var(--clip-size-lg)),var(--clip-size-lg) calc(100% - var(--clip-size-lg)),0 100% );
    --polygon-top: polygon( 0 var(--clip-size-lg-double),var(--clip-size-lg) var(--clip-size-lg),calc(100% - var(--clip-size-lg)) var(--clip-size-lg),100% 0,100% 100%,0 100% );
    --polygon-bottom: polygon( 0 0,100% 0,100% calc(100% - var(--clip-size-lg-double)),calc(100% - var(--clip-size-lg)) calc(100% - var(--clip-size-lg)),var(--clip-size-lg) calc(100% - var(--clip-size-lg)),0 100% );
    --polygon-top-left-xl: polygon( 0 var(--clip-size-xl),var(--clip-size-xl) 0,100% 0,100% 100%,0,100% );
    --polygon-bottom-right-xl: polygon( 0 0,100% 0,100% calc(100% - var(--clip-size-xl)),calc(100% - var(--clip-size-xl)) 100%,0 100% );
}


.btn {
    clip-path: polygon(100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 0);
	transition-duration: 0.3s;
}
.ugol-right-down {
	clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 100px) 100%,0 100%,0 0);
}
